body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main-container {
	position: relative;
}

.no-tags #dronestream canvas {
	outline: 5px solid red;
}

.no-tags .tagoutline {
	display: none;
}

.tagoutline {
	position: absolute;
	background-color: white;
	opacity: 0.32;
	outline: 1px solid black;
}